# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.settings/
.project
.classpath
.factorypath

# VS Code
.vscode/
.history/

# Node / Angular / React (Frontend)
node_modules/
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Variables de entorno (¡Seguridad!)
.env
.env.local